body {
  background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_316842.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #494949;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.my-custom-popup-class {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  